:root {
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --primary-color: #ff0053;
    --text-color: #0a0a0a;
    --text-light: #575757;
    --font-size: 10px;
    --animation-speed: 1s;
}

$black-color: #000;

$background-color: #fff;

$shadow-color: rgba(0, 0, 0, 0.2);

$text-color: #0a0a0a;

$text-light: #575757;

// $font-size: 62.5%;

$logo-size: 2.6em;

$heading-size: 3.4em;

$animation-speed: 1s;

$primary-color: #ff0053;

$white-color: #fff;
