@import '../../partials/variables';
@import '../../partials/functions';
@import '../../partials/animations';

.container {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.sidebar {
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--background-color);
    animation: getAnimationDuration(0.5) slideInLeft;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}

.link {
    margin-top: 2.4em;
    font-size: 2.2em;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    animation: getAnimationDuration(0.2) slideInLeft forwards;
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.2}s;
        }
    }
    &.active {
        border-left: 0.3em solid var(--primary-color);
    }
    .icon {
        margin-right: 6px;
    }
}
